@import url(./variables.css);
@import url(./padrão.css);

.criar_contatos-titulo {
  font-size: 26px;
}

.criar_contatos-container {
  padding: 30px;
  width: 60%;
}

.form-criar_contatos {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

.img-criar_contato {
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-4);
  border-radius: 50%;
  padding: 2px;
  margin-top: 20px;
}

.input-aniversario,
.input-email,
.input-telefone,
.input-sobrenome,
.input-nome {
  padding: 10px;
  border: 1px solid var(--color-2);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--color-6);
  color: var(--color-4);
}

.input-aniversario,
.input-email,
.input-telefone,
.input-sobrenome,
.input-nome:focus {
  outline: none;
  color: var(--color-4);
}

.container-botao-criar {
  display: flex;
  justify-content: center;
}

.botao-criar {
  width: 100%;
  padding: 12px;
  background-color: var(--color-1);
  color: var(--color-6);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-editar-marcador,
.btn-editar-marcador img,
.btn-excluir-marcador,
.btn-excluir-marcador img {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-marcador {
  display: flex;
  align-items: center;
  width: 65%;
  gap: 8px;
}

.item-marcador a {
  flex-grow: 1;
  text-decoration: none;
}

.item-marcador button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.erro {
  color: var(--color-7);
  font-size: 12px;
}
