@import url(./variables.css);

body {
  font-family: var(--font);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.header-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.inicio-icon_menu {
  width: 25px;
  height: 25px;
}

.inicio-icon_agenda {
  width: 45px;
  height: 45px;
}

.inicio-text_contato {
  font-size: 26px;
}

.header-pesquisa {
  display: flex;
  align-items: center;
  background-color: var(--color-2);
  border-radius: 20px;
  width: 50%;
  padding: 0 10px;
}

.pesquisa-icon_pesquisa {
  width: 20px;
  height: 20px;
}

.input-pesquisa {
  border: none;
  font-size: 12px;
  width: 100%;
  margin-left: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-2);
}

.input-pesquisa:focus {
  outline: none;
  color: var(--color-4);
}

::-webkit-input-placeholder {
  border: none;
  font-size: 12px;
}

.header-confg_perfil {
  display: flex;
  align-items: center;
  gap: 30px;
}

.confg_perfil-icon_config {
  width: 25px;
  height: 25px;
}

.confg_perfil-icon_perfil {
  width: 45px;
  height: 45px;
}

.main-container {
  display: flex;
}

.nav-link-criar_contato {
  display: flex;
}
