@import url(./variables.css);
@import url(./padrão.css);

.menu-lixeira {
  background-color: var(--color-3);
}

.texto-excluir {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--color-4);
  background-color: var(--color-6);
}

.contato {
  display: flex;
}

.btn-restaurar,
.btn-excluir {
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--color-1);
  padding: 0;
  background-color: var(--color-6);
}
